# Raw data (archivos pesados ~1.6-1.8 GB cada uno)
data/raw/

# Python cache
__pycache__/
*.py[cod]
*.pyo

data/interim/*.csv
data/processed/*.csv

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Virtual environment
venv/
.venv/
env/

# Docker
.docker/

# Models (binarios grandes)
models/*.pkl
models/*.joblib
models/*.h5

# Logs
*.log
